<component name="ArtifactManager">
  <artifact type="war" name="springmvcMaven:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcMaven.war">
      <element id="artifact" artifact-name="springmvcMaven:war exploded" />
    </root>
  </artifact>
</component>